<div class="cartel container" style="color: white;" [style.backgroundColor]="colors.primaryColor">
  <img class="logo" src="../assets/icons/Logo_SCFNegativo.JPG" alt="Logo Santander">
  <div class="text-center">
    <form [formGroup]="formLogin" (ngSubmit)="getToken()" autocomplete="off">
      <div class="mb-3">
        <label for="rut" class="form-label">RUT</label>
        <input type="number" class="form-control" id="rut" formControlName="rut" placeholder="rut usuario din digito">
        <span *ngIf="isValidField('rut')" class="form-text">
          {{ getFieldError('rut') }}
        </span>
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Contraseña</label>
        <input type="password" class="form-control" id="password" formControlName="password" placeholder="contraseña">
      </div>
      <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="checkbox">
        <label class="form-check-label" for="checkbox">Recordar RUT</label>
      </div>
      <button type="submit" class="btn btn-primary">Ingresar</button>
    </form>
    <button type="button" class="btn btn-link">Reiniciar Clave o Desbloquear Usuario</button>
  </div>
</div>
